<style>
    #content__access__denied {
        min-height: calc(50vh - 70px);
    }
</style>
<div class="container" id="content__access__denied">
    <div class="h3">Woops, looks like you're not authorized to view this page.</div>
    <div>Would you prefer to <a asp-controller="Authentication" asp-action="Logout">log in as someone else</a>?</div>
</div> 