@page
@model Thang.IDP.Pages.User.ResetPasswordInformation.IndexModel
@{

    <div class="row">
        <h3>@Model.Input.Message</h3>
    </div>
    <div class="ml-n2">
        <a href="@ViewData["ReturnUrl"]">Back to Login</a>
    </div>
}
